<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weibo ajax</title>
    <style>
        .comment {
            border: 1px red solid;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="/static/style0.css">
</head>
<body id="id-body">
    <div id="weibo-all">
    <textarea id="id-input-weibo"rows="8" cols="100">今天的心情是什么颜色...</textarea>
    <button id='id-button-add' id="">发表新微博</button>
    <div id="id-weibo-list">
    </div>

    <script src='/static/yuan.js'></script>
    <script src='/static/weibo.js'></script>
</body>
</html>